name: test
on:
  push:
  pull_request:
  merge_group:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read
      packages: read
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab

      - uses: devcontainers/ci@57eaf0c9b518a76872bc429cdceefd65a912309b
        with:
          push: never
          runCmd: |
            npm ci
            npm test
